EbecoConnect_Example.flow
[{"id":"8069ebff.e81a78","type":"tab","label":"EBConnect Example","disabled":false,"info":""},{"id":"7e76a55d.f16d1c","type":"http request","z":"8069ebff.e81a78","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"6a10f10.737471","persist":false,"proxy":"","authType":"","x":630,"y":180,"wires":[["c8771632.281498"]]},{"id":"c8771632.281498","type":"switch","z":"8069ebff.e81a78","name":"ReturnStatus","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"404","vt":"num"},{"t":"eq","v":"500","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":790,"y":180,"wires":[["7c054d39.307ed4","54732601.4fdce8"],["d6518093.71466"],["d6518093.71466"]]},{"id":"2824693d.22de56","type":"function","z":"8069ebff.e81a78","name":"Set Auth Parameters","func":"msg.url = \"https://ebecoconnect.com/api/TokenAuth/Authenticate\"\nmsg.method = \"POST\"\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['abp.tenantid'] = 1;\nmsg.payload = \"{\\\"userNameOrEmailAddress\\\":\\\"user@domain.com\\\", \\\"password\\\":\\\"yoursupersecretpassword\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["7e76a55d.f16d1c"]]},{"id":"7c054d39.307ed4","type":"change","z":"8069ebff.e81a78","name":"","rules":[{"t":"set","p":"EBConnect_accessToken","pt":"flow","to":"payload.result.accessToken","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":120,"wires":[[]]},{"id":"54732601.4fdce8","type":"function","z":"8069ebff.e81a78","name":"Calculate Token TTL","func":"var currentTime = Math.floor(Date.now() / 1000);\nvar ExpireTime = currentTime + msg.payload.result.expireInSeconds;\nflow.set(\"EBConnect_accessToken_Expiretime\", ExpireTime);\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":160,"wires":[[]]},{"id":"8b53442.7de16b8","type":"switch","z":"8069ebff.e81a78","name":"AccessToken Exists? y/n","property":"EBConnect_accessToken","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":140,"wires":[["a4d1b1f0.8a49f"],["2824693d.22de56"]]},{"id":"a4d1b1f0.8a49f","type":"switch","z":"8069ebff.e81a78","name":"Token still valid? y/n","property":"EBConnect_accessToken_Expiretime","propertyType":"flow","rules":[{"t":"gt","v":"$floor( $millis() / 1000 )","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":200,"wires":[["543e8918.23fe98"],["2824693d.22de56"]]},{"id":"7b5349ae.f3e0b8","type":"inject","z":"8069ebff.e81a78","name":"Run every 5 minutes","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"*/5 0-23 * * *","once":true,"onceDelay":0.1,"x":140,"y":80,"wires":[["8b53442.7de16b8"]]},{"id":"543e8918.23fe98","type":"function","z":"8069ebff.e81a78","name":"BaseParameters","func":"msg.method = \"GET\"\nmsg.headers = {};\nmsg.headers['authorization'] = 'Bearer ' + flow.get(\"EBConnect_accessToken\");\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['abp.tenantid'] = 1;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":260,"wires":[["24190417.c58d0c"]]},{"id":"24190417.c58d0c","type":"change","z":"8069ebff.e81a78","name":"url_GetUserDevices","rules":[{"t":"set","p":"url","pt":"msg","to":"https://ebecoconnect.com/api/services/app/Devices/GetUserDevices","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":260,"wires":[["181b9ed1.603bf1"]]},{"id":"181b9ed1.603bf1","type":"http request","z":"8069ebff.e81a78","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"6a10f10.737471","persist":false,"proxy":"","authType":"","x":570,"y":260,"wires":[["e8d6bfa9.bfa01"]]},{"id":"e8d6bfa9.bfa01","type":"switch","z":"8069ebff.e81a78","name":"ReturnStatus","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"404","vt":"num"},{"t":"eq","v":"500","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":730,"y":260,"wires":[["6074d722.12a728","fdd129b.f9539d8","9890fa23.b8b018","e6c72473.e419f8","fd920411.5dc3f8","a180c5bc.97f048","b38598a9.a65318","82c9222.0d723e","ca1ac2ad.6fcab"],["d6518093.71466"],["d6518093.71466"]]},{"id":"6074d722.12a728","type":"debug","z":"8069ebff.e81a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":300,"wires":[]},{"id":"1679733e.a0467d","type":"switch","z":"8069ebff.e81a78","name":"","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":840,"wires":[["2762d814.d1ea38"],["2d9d1ae7.931026"]]},{"id":"c4bca765.9db448","type":"comment","z":"8069ebff.e81a78","name":"Authentication - Check if token exist and is within TTL, if not, authenticate to get a new token and save in flow context. ","info":"","x":430,"y":40,"wires":[]},{"id":"86e50ca8.ba7e3","type":"comment","z":"8069ebff.e81a78","name":"Check if the climate devices are already present in Home Assistant - if not, send discovery message to set it up. ","info":"","x":420,"y":760,"wires":[]},{"id":"fdd129b.f9539d8","type":"ha-get-entities","z":"8069ebff.e81a78","server":"7934da77.2ef5c4","name":"","rules":[{"property":"entity_id","logic":"is","value":"climate.ebecoconnect_01","valueType":"str"}],"output_type":"count","output_empty_results":true,"output_location_type":"msg","output_location":"count","output_results_count":1,"x":150,"y":840,"wires":[["1679733e.a0467d"]]},{"id":"9890fa23.b8b018","type":"ha-get-entities","z":"8069ebff.e81a78","server":"7934da77.2ef5c4","name":"","rules":[{"property":"entity_id","logic":"is","value":"climate.ebecoconnect_02","valueType":"str"}],"output_type":"count","output_empty_results":true,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":150,"y":960,"wires":[["d6de8a83.4f74e8"]]},{"id":"d6de8a83.4f74e8","type":"switch","z":"8069ebff.e81a78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":960,"wires":[["7faa8000.dee22"],["261c1fa6.6891"]]},{"id":"f840e36c.2528d","type":"comment","z":"8069ebff.e81a78","name":"Update the sensor values in Home Assistant","info":"","x":210,"y":340,"wires":[]},{"id":"2762d814.d1ea38","type":"change","z":"8069ebff.e81a78","name":"Config json climate.ebecoconnect_01","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"name\":\"EbecoConnect 01\",\"act_t\":\"homeassistant/climate/ebecoconnect_01/action\",\"temp_cmd_t\":\"homeassistant/climate/ebecoconnect_01/targetTempCmd\",\"mode_cmd_t\":\"homeassistant/climate/ebecoconnect_01/modeCmd\",\"curr_temp_t\":\"homeassistant/climate/ebecoconnect_01/currTemp\",\"min_temp\":\"16\",\"max_temp\":\"26\",\"temp_step\":\"0.5\",\"modes\":[\"off\",\"heat\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":820,"wires":[["c638b2bb.cdc4"]]},{"id":"e6c72473.e419f8","type":"change","z":"8069ebff.e81a78","name":"Update sensor.ebecoconnect_01_room","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result[0].temperatureRoom","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":400,"wires":[["a6238ccf.65fcf"]]},{"id":"a6238ccf.65fcf","type":"mqtt out","z":"8069ebff.e81a78","name":"","topic":"homeassistant/sensor/ebecoconnect_01_temperature_room/state","qos":"0","retain":"false","broker":"372f70b1.6dcc4","x":840,"y":400,"wires":[]},{"id":"fd920411.5dc3f8","type":"change","z":"8069ebff.e81a78","name":"Update sensor.ebconnect_02_room","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result[1].temperatureRoom","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":460,"wires":[["820e46cc.fe20c8"]]},{"id":"820e46cc.fe20c8","type":"mqtt out","z":"8069ebff.e81a78","name":"","topic":"homeassistant/sensor/ebecoconnect_02_temperature_room/state","qos":"0","retain":"false","broker":"372f70b1.6dcc4","x":840,"y":460,"wires":[]},{"id":"a180c5bc.97f048","type":"change","z":"8069ebff.e81a78","name":"Update sensor.ebconnect_01_floor","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result[0].temperatureFloor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":520,"wires":[["46a9c2cb.07f6dc","c0339484.ac1638"]]},{"id":"46a9c2cb.07f6dc","type":"mqtt out","z":"8069ebff.e81a78","name":"","topic":"homeassistant/sensor/ebecoconnect_01_temperature_floor/state","qos":"0","retain":"false","broker":"372f70b1.6dcc4","x":840,"y":520,"wires":[]},{"id":"b38598a9.a65318","type":"change","z":"8069ebff.e81a78","name":"Update sensor.ebconnect_02_floor","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result[1].temperatureFloor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":620,"wires":[["287499bb.88fe26","d8aeccd6.b62e6"]]},{"id":"287499bb.88fe26","type":"mqtt out","z":"8069ebff.e81a78","name":"","topic":"homeassistant/sensor/ebecoconnect_02_temperature_floor/state","qos":"0","retain":"false","broker":"372f70b1.6dcc4","x":840,"y":620,"wires":[]},{"id":"c638b2bb.cdc4","type":"mqtt out","z":"8069ebff.e81a78","name":"","topic":"homeassistant/climate/ebecoconnect_01_room/config","qos":"1","retain":"false","broker":"372f70b1.6dcc4","x":980,"y":820,"wires":[]},{"id":"822a88d9.4b7f08","type":"mqtt out","z":"8069ebff.e81a78","name":"","topic":"homeassistant/climate/ebecoconnect_02_room/config","qos":"1","retain":"false","broker":"372f70b1.6dcc4","x":980,"y":940,"wires":[]},{"id":"fdaf7173.7d23","type":"change","z":"8069ebff.e81a78","name":"selectedProgram: Manual, ID: 000","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"selectedProgram\":\"Manual\",\"id\":\"000\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":880,"wires":[["cba06e32.55189"]]},{"id":"7faa8000.dee22","type":"change","z":"8069ebff.e81a78","name":"Config json climate.ebecoconnect_02","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"name\":\"EbecoConnect 02\",\"act_t\":\"homeassistant/climate/ebecoconnect_02/action\",\"temp_cmd_t\":\"homeassistant/climate/ebecoconnect_02/targetTempCmd\",\"mode_cmd_t\":\"homeassistant/climate/ebecoconnect_02/modeCmd\",\"curr_temp_t\":\"homeassistant/climate/ebecoconnect_02/currTemp\",\"min_temp\":\"16\",\"max_temp\":\"26\",\"temp_step\":\"0.5\",\"modes\":[\"off\",\"heat\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":940,"wires":[["822a88d9.4b7f08"]]},{"id":"c0339484.ac1638","type":"ha-get-entities","z":"8069ebff.e81a78","server":"7934da77.2ef5c4","name":"","rules":[{"property":"entity_id","logic":"is","value":"climate.ebecoconnect_01","valueType":"str"}],"output_type":"count","output_empty_results":true,"output_location_type":"msg","output_location":"count","output_results_count":1,"x":610,"y":580,"wires":[["b505fee7.ff12f"]]},{"id":"6ec0573.e3b00a8","type":"mqtt out","z":"8069ebff.e81a78","name":"","topic":"homeassistant/climate/ebecoconnect_01/currTemp","qos":"0","retain":"false","broker":"372f70b1.6dcc4","x":1010,"y":580,"wires":[]},{"id":"b505fee7.ff12f","type":"switch","z":"8069ebff.e81a78","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":580,"wires":[["6ec0573.e3b00a8"]]},{"id":"d8aeccd6.b62e6","type":"ha-get-entities","z":"8069ebff.e81a78","server":"7934da77.2ef5c4","name":"","rules":[{"property":"entity_id","logic":"is","value":"climate.ebecoconnect_02","valueType":"str"}],"output_type":"count","output_empty_results":true,"output_location_type":"msg","output_location":"count","output_results_count":1,"x":610,"y":680,"wires":[["e971cb09.cc2de8"]]},{"id":"e971cb09.cc2de8","type":"switch","z":"8069ebff.e81a78","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":680,"wires":[["f995c590.9c1f68"]]},{"id":"f995c590.9c1f68","type":"mqtt out","z":"8069ebff.e81a78","name":"","topic":"homeassistant/climate/ebecoconnect_02/currTemp","qos":"0","retain":"false","broker":"372f70b1.6dcc4","x":1010,"y":680,"wires":[]},{"id":"2b259e78.580ba2","type":"function","z":"8069ebff.e81a78","name":"BaseParameters","func":"msg.method = \"PUT\"\nmsg.headers = {};\nmsg.headers['authorization'] = 'Bearer ' + flow.get(\"EBConnect_accessToken\");\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['abp.tenantid'] = 1;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":880,"wires":[["ba82c4b4.540638"]]},{"id":"cba06e32.55189","type":"http request","z":"8069ebff.e81a78","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"6a10f10.737471","persist":false,"proxy":"","authType":"","x":1330,"y":880,"wires":[["1d439cd9.a4da23"]]},{"id":"ba82c4b4.540638","type":"change","z":"8069ebff.e81a78","name":"url_UpdateUserDevice","rules":[{"t":"set","p":"url","pt":"msg","to":"https://ebecoconnect.com/api/services/app/Devices/UpdateUserDevice","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":880,"wires":[["fdaf7173.7d23"]]},{"id":"1d439cd9.a4da23","type":"switch","z":"8069ebff.e81a78","name":"ReturnStatus","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"404","vt":"num"},{"t":"eq","v":"500","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":1490,"y":880,"wires":[[],["40056365.fd238c"],["40056365.fd238c"]]},{"id":"fcb750b6.efff2","type":"change","z":"8069ebff.e81a78","name":"selectedProgram: Manual, ID: 001","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"selectedProgram\":\"Manual\",\"id\":\"001\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1000,"wires":[["7dda6177.8b9c4"]]},{"id":"3ae9e9b6.ffc046","type":"function","z":"8069ebff.e81a78","name":"BaseParameters","func":"msg.method = \"PUT\"\nmsg.headers = {};\nmsg.headers['authorization'] = 'Bearer ' + flow.get(\"EBConnect_accessToken\");\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['abp.tenantid'] = 1;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1000,"wires":[["242058c7.03c6a8"]]},{"id":"7dda6177.8b9c4","type":"http request","z":"8069ebff.e81a78","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"6a10f10.737471","persist":false,"proxy":"","authType":"","x":1330,"y":1000,"wires":[["b95547c1.a54fb8"]]},{"id":"242058c7.03c6a8","type":"change","z":"8069ebff.e81a78","name":"url_UpdateUserDevice","rules":[{"t":"set","p":"url","pt":"msg","to":"https://ebecoconnect.com/api/services/app/Devices/UpdateUserDevice","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1000,"wires":[["fcb750b6.efff2"]]},{"id":"b95547c1.a54fb8","type":"switch","z":"8069ebff.e81a78","name":"ReturnStatus","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"404","vt":"num"},{"t":"eq","v":"500","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":1490,"y":1000,"wires":[[],["40056365.fd238c"],["40056365.fd238c"]]},{"id":"dadb7c8f.817eb","type":"mqtt in","z":"8069ebff.e81a78","name":"","topic":"homeassistant/climate/ebecoconnect_01/targetTempCmd","qos":"2","datatype":"auto","broker":"372f70b1.6dcc4","x":290,"y":1320,"wires":[["ced9b55a.e0a608"]]},{"id":"ced9b55a.e0a608","type":"string","z":"8069ebff.e81a78","name":"Str -> Int","methods":[{"name":"toFloat","params":[{"type":"num","value":""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":1320,"wires":[["6297690c.9f4968"]]},{"id":"2a4e5e7d.6eecd2","type":"comment","z":"8069ebff.e81a78","name":"Update the Thermostat if set temperature is changed","info":"","x":250,"y":1280,"wires":[]},{"id":"6297690c.9f4968","type":"function","z":"8069ebff.e81a78","name":"BaseParameters and new SetTemp","func":"msg.method = \"PUT\"\nmsg.headers = {};\nmsg.headers['authorization'] = 'Bearer ' + flow.get(\"EBConnect_accessToken\");\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['abp.tenantid'] = 1;\nmsg.payload = \"{\\\"temperatureSet\\\":\" + msg.payload + \", \\\"id\\\":000}\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1320,"wires":[["34b992f9.8c4a5e"]]},{"id":"34b992f9.8c4a5e","type":"change","z":"8069ebff.e81a78","name":"url_UpdateUserDevice","rules":[{"t":"set","p":"url","pt":"msg","to":"https://ebecoconnect.com/api/services/app/Devices/UpdateUserDevice","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1320,"wires":[["15b12888.2a3fa7"]]},{"id":"15b12888.2a3fa7","type":"http request","z":"8069ebff.e81a78","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"6a10f10.737471","persist":false,"proxy":"","authType":"","x":1250,"y":1320,"wires":[["c40609ca.594058"]]},{"id":"c40609ca.594058","type":"switch","z":"8069ebff.e81a78","name":"ReturnStatus","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"404","vt":"num"},{"t":"eq","v":"500","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":1410,"y":1320,"wires":[[],["87c5e823.9abbe8"],["87c5e823.9abbe8"]]},{"id":"c0987a22.9dce88","type":"mqtt in","z":"8069ebff.e81a78","name":"","topic":"homeassistant/climate/ebecoconnect_02/targetTempCmd","qos":"2","datatype":"auto","broker":"372f70b1.6dcc4","x":290,"y":1380,"wires":[["de2a4bb5.8a49f8"]]},{"id":"de2a4bb5.8a49f8","type":"string","z":"8069ebff.e81a78","name":"Str -> Int","methods":[{"name":"toFloat","params":[{"type":"num","value":""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":1380,"wires":[["3ebcc040.df40b"]]},{"id":"3ebcc040.df40b","type":"function","z":"8069ebff.e81a78","name":"BaseParameters and new SetTemp","func":"msg.method = \"PUT\"\nmsg.headers = {};\nmsg.headers['authorization'] = 'Bearer ' + flow.get(\"EBConnect_accessToken\");\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['abp.tenantid'] = 1;\nmsg.payload = \"{\\\"temperatureSet\\\":\" + msg.payload + \", \\\"id\\\":001}\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1380,"wires":[["456d4b4c.b1f4a4"]]},{"id":"456d4b4c.b1f4a4","type":"change","z":"8069ebff.e81a78","name":"url_UpdateUserDevice","rules":[{"t":"set","p":"url","pt":"msg","to":"https://ebecoconnect.com/api/services/app/Devices/UpdateUserDevice","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1380,"wires":[["dafa6d42.7cbcf"]]},{"id":"dafa6d42.7cbcf","type":"http request","z":"8069ebff.e81a78","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"6a10f10.737471","persist":false,"proxy":"","authType":"","x":1250,"y":1380,"wires":[["8187323c.9f306"]]},{"id":"8187323c.9f306","type":"switch","z":"8069ebff.e81a78","name":"ReturnStatus","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"404","vt":"num"},{"t":"eq","v":"500","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":1410,"y":1380,"wires":[[],["87c5e823.9abbe8"],["87c5e823.9abbe8"]]},{"id":"2144acf5.527774","type":"comment","z":"8069ebff.e81a78","name":"Update the Thermostat if HVAC mode is changed","info":"","x":240,"y":1460,"wires":[]},{"id":"edf3769a.737cf8","type":"mqtt in","z":"8069ebff.e81a78","name":"","topic":"homeassistant/climate/ebecoconnect_01/modeCmd","qos":"2","datatype":"auto","broker":"372f70b1.6dcc4","x":270,"y":1500,"wires":[["e673aed0.e95c5"]]},{"id":"63e7775f.3daf28","type":"mqtt in","z":"8069ebff.e81a78","name":"","topic":"homeassistant/climate/ebecoconnect_02/modeCmd","qos":"2","datatype":"auto","broker":"372f70b1.6dcc4","x":270,"y":1580,"wires":[["cac7929e.db4c3"]]},{"id":"e673aed0.e95c5","type":"switch","z":"8069ebff.e81a78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"heat","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1500,"wires":[["3d783024.5abbd"],["1f597ed.92a7681"]]},{"id":"cac7929e.db4c3","type":"switch","z":"8069ebff.e81a78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"heat","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1580,"wires":[["f115fd9b.3f722"],["6b29e2.160c862"]]},{"id":"3d783024.5abbd","type":"change","z":"8069ebff.e81a78","name":"msg.payload = \"false\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1480,"wires":[["e56821dd.ecda8"]]},{"id":"1f597ed.92a7681","type":"change","z":"8069ebff.e81a78","name":"msg.payload = \"true\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1520,"wires":[["e56821dd.ecda8"]]},{"id":"f115fd9b.3f722","type":"change","z":"8069ebff.e81a78","name":"msg.payload = \"false\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1560,"wires":[["a4ae52d0.0f6c1"]]},{"id":"6b29e2.160c862","type":"change","z":"8069ebff.e81a78","name":"msg.payload = \"true\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1600,"wires":[["a4ae52d0.0f6c1"]]},{"id":"44a1c76c.7a3588","type":"change","z":"8069ebff.e81a78","name":"url_UpdateUserDevice","rules":[{"t":"set","p":"url","pt":"msg","to":"https://ebecoconnect.com/api/services/app/Devices/UpdateUserDevice","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":1500,"wires":[["abc2dbde.646b68"]]},{"id":"abc2dbde.646b68","type":"http request","z":"8069ebff.e81a78","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"6a10f10.737471","persist":false,"proxy":"","authType":"","x":1450,"y":1500,"wires":[["5f9d8762.9e3b08"]]},{"id":"5f9d8762.9e3b08","type":"switch","z":"8069ebff.e81a78","name":"ReturnStatus","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"404","vt":"num"},{"t":"eq","v":"500","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":1610,"y":1500,"wires":[[],["bdaba0f5.18e54"],["bdaba0f5.18e54"]]},{"id":"8546cce2.ae8df","type":"change","z":"8069ebff.e81a78","name":"url_UpdateUserDevice","rules":[{"t":"set","p":"url","pt":"msg","to":"https://ebecoconnect.com/api/services/app/Devices/UpdateUserDevice","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":1580,"wires":[["87bb4abb.391d98"]]},{"id":"87bb4abb.391d98","type":"http request","z":"8069ebff.e81a78","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"6a10f10.737471","persist":false,"proxy":"","authType":"","x":1450,"y":1580,"wires":[["d94629b7.9e1738"]]},{"id":"d94629b7.9e1738","type":"switch","z":"8069ebff.e81a78","name":"ReturnStatus","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"404","vt":"num"},{"t":"eq","v":"500","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":1610,"y":1580,"wires":[[],["bdaba0f5.18e54"],["bdaba0f5.18e54"]]},{"id":"2d9d1ae7.931026","type":"api-current-state","z":"8069ebff.e81a78","name":"state=\"heat\"?","server":"7934da77.2ef5c4","version":1,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.ebecoconnect_01","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":440,"y":880,"wires":[["2b259e78.580ba2"],[]]},{"id":"261c1fa6.6891","type":"api-current-state","z":"8069ebff.e81a78","name":"state=\"heat\"?","server":"7934da77.2ef5c4","version":1,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.ebecoconnect_01","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":440,"y":1000,"wires":[["3ae9e9b6.ffc046"],[]]},{"id":"e56821dd.ecda8","type":"function","z":"8069ebff.e81a78","name":"BaseParameters and new mode","func":"msg.method = \"PUT\"\nmsg.headers = {};\nmsg.headers['authorization'] = 'Bearer ' + flow.get(\"EBConnect_accessToken\");\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['abp.tenantid'] = 1;\nmsg.payload = \"{\\\"powerOn\\\":\" + msg.payload + \", \\\"id\\\":000}\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1500,"wires":[["44a1c76c.7a3588"]]},{"id":"a4ae52d0.0f6c1","type":"function","z":"8069ebff.e81a78","name":"BaseParameters and new mode","func":"msg.method = \"PUT\"\nmsg.headers = {};\nmsg.headers['authorization'] = 'Bearer ' + flow.get(\"EBConnect_accessToken\");\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['abp.tenantid'] = 1;\nmsg.payload = \"{\\\"powerOn\\\":\" + msg.payload + \", \\\"id\\\":001}\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1580,"wires":[["8546cce2.ae8df"]]},{"id":"bc0803fb.e0984","type":"comment","z":"8069ebff.e81a78","name":"Get current relay state and update action","info":"","x":220,"y":1080,"wires":[]},{"id":"82c9222.0d723e","type":"ha-get-entities","z":"8069ebff.e81a78","server":"7934da77.2ef5c4","name":"","rules":[{"property":"entity_id","logic":"is","value":"climate.ebecoconnect_02","valueType":"str"}],"output_type":"count","output_empty_results":true,"output_location_type":"msg","output_location":"count","output_results_count":1,"x":150,"y":1200,"wires":[["8acd347e.493228"]]},{"id":"8acd347e.493228","type":"switch","z":"8069ebff.e81a78","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1200,"wires":[["fdb832fe.b5f3b"]]},{"id":"fdb832fe.b5f3b","type":"api-current-state","z":"8069ebff.e81a78","name":"state=\"heat\"?","server":"7934da77.2ef5c4","version":1,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.ebecoconnect_02","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":440,"y":1200,"wires":[["24ca0ef1.6f88d2"],[]]},{"id":"2a4d90bb.470de","type":"mqtt out","z":"8069ebff.e81a78","name":"","topic":"homeassistant/climate/ebecoconnect_02/action","qos":"1","retain":"false","broker":"372f70b1.6dcc4","x":1120,"y":1200,"wires":[]},{"id":"b6cbeec2.c582f","type":"function","z":"8069ebff.e81a78","name":"Set Mode as payload","func":"if (msg.payload === true) {\n   msg.payload = \"heating\";\n} else {\n   msg.payload = \"idle\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1200,"wires":[["2a4d90bb.470de"]]},{"id":"ca1ac2ad.6fcab","type":"ha-get-entities","z":"8069ebff.e81a78","server":"7934da77.2ef5c4","name":"","rules":[{"property":"entity_id","logic":"is","value":"climate.ebecoconnect_01","valueType":"str"}],"output_type":"count","output_empty_results":true,"output_location_type":"msg","output_location":"count","output_results_count":1,"x":150,"y":1140,"wires":[["b95e849b.4bda68"]]},{"id":"b95e849b.4bda68","type":"switch","z":"8069ebff.e81a78","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1140,"wires":[["4e88978a.4f4f08"]]},{"id":"4e88978a.4f4f08","type":"api-current-state","z":"8069ebff.e81a78","name":"state=\"heat\"?","server":"7934da77.2ef5c4","version":1,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.ebecoconnect_01","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":440,"y":1140,"wires":[["bb380a65.543c68"],[]]},{"id":"6e07f734.3537b8","type":"mqtt out","z":"8069ebff.e81a78","name":"","topic":"homeassistant/climate/ebecoconnect_01/action","qos":"1","retain":"false","broker":"372f70b1.6dcc4","x":1120,"y":1140,"wires":[]},{"id":"e7b8038e.872ed","type":"function","z":"8069ebff.e81a78","name":"Set Mode as payload","func":"if (msg.payload === true) {\n   msg.payload = \"heating\";\n} else {\n   msg.payload = \"idle\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1140,"wires":[["6e07f734.3537b8"]]},{"id":"bb380a65.543c68","type":"change","z":"8069ebff.e81a78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result[0].relayOn","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1140,"wires":[["e7b8038e.872ed"]]},{"id":"24ca0ef1.6f88d2","type":"change","z":"8069ebff.e81a78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result[1].relayOn","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1200,"wires":[["b6cbeec2.c582f"]]},{"id":"d6518093.71466","type":"function","z":"8069ebff.e81a78","name":"Raise WARN message","func":"node.warn(\"The API call towards EbecoConnect ended up in error \" + msg.statusCode);\n","outputs":0,"noerr":0,"x":1180,"y":220,"wires":[]},{"id":"40056365.fd238c","type":"function","z":"8069ebff.e81a78","name":"Raise WARN message","func":"node.warn(\"The API call towards EbecoConnect ended up in error \" + msg.statusCode);\n","outputs":0,"noerr":0,"x":1720,"y":940,"wires":[]},{"id":"87c5e823.9abbe8","type":"function","z":"8069ebff.e81a78","name":"Raise WARN message","func":"node.warn(\"The API call towards EbecoConnect ended up in error \" + msg.statusCode);\n","outputs":0,"noerr":0,"x":1640,"y":1340,"wires":[]},{"id":"bdaba0f5.18e54","type":"function","z":"8069ebff.e81a78","name":"Raise WARN message","func":"node.warn(\"The API call towards EbecoConnect ended up in error \" + msg.statusCode);\n","outputs":0,"noerr":0,"x":1820,"y":1540,"wires":[]},{"id":"6a10f10.737471","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"7934da77.2ef5c4","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"372f70b1.6dcc4","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.10","port":"1883","clientid":"addon_a0d7b954_nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
